@media(max-width:1024px) {
    .videos {
        max-height: 300px !important;
        max-width: 400px !important;
    }
}


@media(max-width:576px) {
    .cards {
        max-width: 500px !important;
        max-height: 450px !important;
    }
}

.card-hover {

    transition: transform 0.5s ease-in-out;
}

.card-hover:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.4s;
}




.slider {
    transition: transform 0.3s ease-in-out;
}

.slider:hover {
    transform: scale(1.05);
}

.carousel .slide.selected {
    opacity: 1;
}


.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height .col {
    display: flex;
    flex-direction: column;
}

.equal-height img {
    flex-grow: 1;
    width: 100%;
    height: auto;
}

.smarterImg {
    height: 200px;
    object-fit: contain;
}

.techImg {
    height: 100px !important;
    object-fit: contain;
}

@media(max-width:576px) {
    .Img {
        width: 80px !important;
        height: 50px !important;

    }
}

.button:hover {

    background-color: #096d27 !important;
    color: white;
}


.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}
/* Add this CSS to your stylesheet or in a style tag in your component */


  