@media(max-width:1024px){
.videos{
    max-height: 300px !important;
    max-width: 400px !important;
}
}
  

@media (max-width:1024px){
    .image1{
        max-width: 350px !important;
        max-height: 300px !important;
    }
}
@media(max-width:576px){
    .cards{
        max-width: 500px!important;
        max-height: 450px !important;
    }
}

.card-hover {

    transition: transform 0.5s ease-in-out;
}

.card-hover:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.4s; 
}



 
.carousel .slide {
    opacity: 0;
    transition: opacity 1.5s ease-in-out; 
  }
  
  
  .carousel .slide.selected {
    opacity: 1;
  }

 
 
